{%extends 'base.html'%}

{%block title%}Online Store{%endblock%}

{%block content%}
<div class="container col-6">
  <h1>Add product</h1>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form action="" method="post">
    {{ form.hidden_tag() }}
    {%for field in form if field.name not in ['csrf_token', 'submit', 'active', 'category_id']%}
    <p>
      {{field.label}}
      {%if field.errors%}
      {{field(class="form-control is-invalid")}}
      <span class="invalid-feedback">
          {%for error in field.errors%}
            {{error}}
          {%endfor%}
        </span>
      {%else%}
      {{field(class="form-control")}}
      {%endif%}
    </p>
    {%endfor%}
    <p>
      <label for="category_id">Category: </label>
      <select id="{{ form.category_id.id }}" name="{{ form.category_id.name }}" class="form-control">
      <option value="" disabled selected>---Select product category---</option>
      {% for option in form.category_id %}
          {{ option }}
      {% endfor %}
    </select>
      <small><a href="{{url_for('add_category')}}">Add category</a></small>
    </p>

    <p>{{form.active}} {{form.active.label}}</p>
    <p class="text-end">{{form.submit(class_='btn btn-primary')}}</p>
  </form>
</div>

{%endblock%}