{%extends 'base.html'%}

{%block title%}Online Store{%endblock%}

{%block content%}
<div class="container">
  {%if empty_query%}
  <h3>No products found for the specified category. Go to <a href="{{url_for('index')}}">main page</a></h3>
  {%endif%}
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for product in products %}
    <div class="card" style="width: 18rem; margin: 10px;">
      {%if product.picture%}
      <img src="{{url_for('static', filename='images')}}/{{product.picture}}" style="height: 286px; width: 286px;">
      {%else%}
      <img src="{{url_for('static', filename='placeholder/img_placeholder.png')}}">
      {%endif%}
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <small class="card-text">
          Category:
          <a href="{{url_for('index', category_slug=product.category.slug)}}">{{product.category.name}}</a>
        </small>
        <p class="card-text mt-2">{{product.description}}</p>
        <div class="row">
          <div class="col">
            <p class="card-text">Quantity: {{product.quantity}}</p>
          </div>
          <div class="col">
            <h5 class="card-text text-end">${{ product.price/100 }}</h5>
          </div>
        </div>
        <br>
        <form action="{{url_for('cart_add', pk=product.id)}}" method="post">
          {{form.hidden_tag()}}
          <input type="hidden" name="update_quantity" value="">
          {{form.quantity}}
          {{form.submit(class="btn btn-primary btn-sm")}}
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{%endblock%}